*{
    box-sizing: border-box;
    /* max-width: 100%; */
    overflow-x:hidden;
}
a{
    text-decoration: none;
}
.App{
    
    background-image: url("./Img/bg-slide.jpg");
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-attachment: fixed;
    /* overflow: hidden; */
}