*{
    box-sizing: border-box;
}
.center{
    /* background-color: aqua; */
    /* height: 155px; */
    height: 100%;
    z-index: 5;
    font-size: 80px;
    /* background-color: black; */
}

.center-slots{
    height: 320px;
    background-color: rgb(38, 230, 230);
    /* padding: 50px; */
    margin: 50px;
    display: flex;
}
.center-slots-sub{
    background-color: blueviolet;
    /* height: 330px; */
    width: 100%;
    height: 100%;
    margin: 0 2vh;
    /* height: 270px; */
    overflow: hidden;
    font-size: 20%;
}
.center-slots-sub-inner{
    margin: 15px;
    background-color: blue;
    /* justify-content: space-evenly; */
}

.about-me{
    font-size: 16px;
    font-weight: 500;
    width: 80%;
    margin: auto;
}


.slot-heading{
    margin: 4px 0 0 4px;
    font-weight: 500;
    font-size: 30px;
    
}
.sub-slot-1{
    width: 55%;
}
.sub-slot-2{
    width: 45%;
}
.skill-label{
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}
/* .center-slots::after{
} */
progress {
    /* border: none; */
    border: 31px;
    width: 100%;
    height: 10px;
    margin: 0 0 12px 0;
    border-radius: 5px;
    /* background: crimson; */
  }
  
  progress::-moz-progress-bar {
    background: lightcolor;
  }
  
  progress::-webkit-progress-value {
    /* background: red; */
    background-color: chartreuse;
  }
  
  progress::-webkit-progress-bar {
    background: white;
  }

@media screen and (max-width:39.9375em){
    .center-slots{
        flex-wrap: wrap;
        height: auto;
    }
    .center-slots-sub{
        width: 100%;
    }
    /* .slot-heading{
        margin-left: 35%;
    } */
}