*{
    box-sizing: border-box;
}
.center{
    /* background-color: aqua; */
    /* height: 155px; */
    height: 100%;
    z-index: 5;
    font-size: 80px;
    /* background-color: black; */
}
.streak{
    background-color: aqua;
    width: 100%;
    /* height: 100%; */
    /* margin: 15px 25px; */
}
.center-slots{
    height: 320px;
    /* background-color: rgb(38, 230, 230); */
    /* padding: 50px; */
    margin: 50px;
    display: flex;
}
.center-slots-sub{
    background-color: rgba(149, 65, 228, 0.631);
    /* height: 330px; */
    border-radius: 15px;
    width: 100%;
    height: 100%;
    margin: 0 2vh;
    /* height: 270px; */
    overflow: hidden;
    font-size: 20%;
}
.center-slots-sub-inner{
    margin: 15px;
    /* background-color: blue; */
    /* justify-content: space-evenly; */
}

.about-me{
    font-size: 16px;
    font-weight: 500;
    width: 80%;
    margin: auto;
}


.slot-heading{
    margin: 4px 0 0 4px;
    font-weight: 500;
    font-size: 30px;
    
}
.slot-edu-heading{
    font-size: 20px;
    font-weight: 500;
}
.sub-slot-1{
    width: 55%;
}
.sub-slot-2{
    width: 45%;
}
.sub-slot-3{
    width: 70%;
}
.sub-slot-4{
    width: 30%;
}
.sub-slot-5{
    width: 30%;
}
.sub-slot-6{
    width: 70%;
}
.sub-slot-7{
    width: 40%;
    background-color: white;
}
.sub-slot-8{
    width: 60%;
}
.skill-label{
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}
/* .center-slots::after{
} */
.soft-skill-list{
    list-style-type: circle;
    line-height: 200%;
    font-weight: 600;
    /* background-color: brown; */
    font-size: 18px;
}
.contact-list{
    line-height: 250%;
}
.contact-list-ele{
    height: 20px;
    width: 20px;
}
pre {
    white-space: pre-wrap;
    word-break: keep-all
}

progress {
    /* border: none; */
    border: 31px;
    width: 100%;
    height: 10px;
    margin: 0 0 12px 0;
    border-radius: 5px;
    /* background: crimson; */
  }
  
  progress::-moz-progress-bar {
    background: lightcolor;
  }
  
  progress::-webkit-progress-value {
    /* background: red; */
    background-color: rgba(128, 255, 0);
  }
  
  progress::-webkit-progress-bar {
    background: white;
  }

@media screen and (max-width:39.9375em){
    .center-slots{
        flex-wrap: wrap;
        height: auto;
        margin: 0px 30px;
    }
    .center-slots-sub{
        margin:0;
        width: 100%;
        margin-top: 25px;
    }
    /* .center-slots-sub-inner{
        /* margin-top: 5vh; */
    /* } */ 
    .about-me{
        width: 100%;
    }
    /* .slot-heading{
        margin-left: 35%;
    } */
    .contact-list{
        font-size: 90%;
        margin-left: -40px;
        font-weight: 700;
    }
    .contact-list-ele{
        height: 16px;
        width: 18px;
        /* margin-left: -10px; */
    }
}