.header{
    /* background-color: black; */
    height: 85vh;
    overflow: hidden;
}
.profile-img{
    border-radius: 50%;
    /* width: 22%; */
    margin: 10% 40%;
    /* width: 200px; */
    width: 300px;
}
@media screen and (max-width : 39.9375em) {
    .header{
        height: 65vh;
    }
    .profile-img{
        width:180px;
        margin: 30% 25%;
    }
}